@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

/*
#7a58df purple
#df7a58 orange
#bddf58 green
#58bbdf blue

old yellow rgb(210, 219, 31)
*/

body {
  background: repeating-linear-gradient(
  -45deg,
  #000000,
  #000000 1px,
  #ffffff 1px,
  #ffffff 7px
);
  font-family: font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}
body .container {
  max-width: 650px;
}

h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: #bddf58;
  padding: 3px;
}
.message-count {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: right;
}
::-webkit-input-placeholder {
   letter-spacing: 0.1em;
}
:-moz-placeholder { /* Firefox 18- */
  letter-spacing: 0.1em;
}
::-moz-placeholder {  /* Firefox 19+ */
  letter-spacing: 0.1em;
}
:-ms-input-placeholder {
  letter-spacing: 0.1em;
}
.well {
  background-color: #7A58DF;
}
td a.btn {
  margin: 3px;
  border-radius: 0;
  border: none;
  background-color: #bddf58;
}
td a.btn:hover {
  margin: 3px;
  border-radius: 0;
  border: none;
  background-color: #bddf58;
}
.calendar-holder input{
  border-radius: 0;
  width: 100%;
}

/*td input .input-group {
  border-radius: 0 !important;
  border: 0 !important;
  outline: 0 !important;
}*/
button {
  padding: 3px;
}

textarea {
  width: 100% !important;
  letter-spacing: 0.1em;
}

.stackedMsg {
  margin-bottom: 5px;
  background-color: white;
  margin-bottom: 5px;
}
.textarea {
  width: 80%;
  min-height: 30px;
}
.tweetList input {
  /*margin: 8px;*/
  padding: 1px;
  margin-bottom: 15px !important;
  margin-top: 15px !important;
}
.posts:nth-child(odd) {
  background-color: #bddf58;
}
.posts:nth-child(even) {
  background-color: #7a58df;
}
.tweetList.row{
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 10px;
  background-color: #7a58df;
  border-radius: 3px;
}

.text-white {
  color: #bddf58;
}
.btn {
  background-color: #eee;
  color: #000000;
  border: black 1px solid;
}
.btn:hover {
  background-color: #ccc;
  color: #000000;
  border: black 1px solid;
}
.btn:focus {
background-color: #d7a58;
}
#modalContent {
  text-align: center;
}
#modalContent p a:link {
  color: #7A58DF !important;
}
#modalContent p a:visited {
  color: #7A58DF !important;
}
#modalContent p a:hover {
  color: black !important;
  text-decoration: none !important;
  border-bottom: 2px dashed !important;
}
#modalContent {
  font-size: 1.5em;
}
#modalContent h2 h3{
  font-size: 3em;
}
#modal.meet p{
  text-align: right !important;
}
.tweet-btn {
  margin-top: 26px;
}
.tweet-btn disabled {
  margin-top: 26px;
  background-color: #7a58df !important;
}
.row.bottom {
  margin-top: 15px;
}
.splashImg {
  height: 60px;
  width: auto;
  margin: 5 auto;
}
.splashImg.sails {
  border-bottom: 14px white solid;
}
.splashImg.mongo {
  border-bottom: 10px white solid;
}
.socialLinkContact {
  color: #7A58DF !important;
  font-size: 1.4em;
}
.stickMe{
  width: 120px;
  height: auto;
  border: 10px white solid;
}
