@import url(http://fonts.googleapis.com/css?family=Amatic+SC);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  background: repeating-linear-gradient(
  -45deg,
  #000000,
  #000000 1px,
  #ffffff 1px,
  #ffffff 7px
);
  font-family: font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}
body .container {
  max-width: 650px;
}

h2, h3, h4 {
  font-family: 'Amatic SC', cursive;
}
h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
  background-color: rgb(210, 219, 31);
  padding: 3px;
}
.message-count {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  text-align: right;
}
::-webkit-input-placeholder {
   letter-spacing: 0.1em;
}
:-moz-placeholder { /* Firefox 18- */
  letter-spacing: 0.1em;
}
::-moz-placeholder {  /* Firefox 19+ */
  letter-spacing: 0.1em;
}
:-ms-input-placeholder {
  letter-spacing: 0.1em;
}
.well {
  background-color: #7A58DF;
}
td a.btn {
  margin: 3px;
  border-radius: 0;
  border: none;
  background-color: rgb(210, 219, 31);
}
td a.btn:hover {
  margin: 3px;
  border-radius: 0;
  border: none;
  background-color: rgb(210, 219, 31);
}
.calendar-holder input{
  border-radius: 0 !important;
}

/*td input .input-group {
  border-radius: 0 !important;
  border: 0 !important;
  outline: 0 !important;
}*/
button {
  padding: 3px;
}

textarea {
  width: 100% !important;
  letter-spacing: 0.1em;
}

.stackedMsg {
  margin-bottom: 5px;
  background-color: white;
}
.textarea {
  width: 80%;
  min-height: 30px;
}
.tweetList input {
  margin: 8px;
}
.text-white {
  color: rgb(210, 219, 31);
}
.btn {
  background-color: #eee;
  color: #000000;
  border: black 1px solid;
}
.btn:hover {
  background-color: #ccc;
  color: #000000;
  border: black 1px solid;
}
