<div class='well clearfix' ng-controller='ScheduleCtlr'>
  <div class='form-group'>
    <textarea class='form-control' placeholder="message" ng-model='message'></textarea>
  </div>
  <div class='input-group'>
    <input class='form-control' datepicker-popup is-open='opened' ng-model='date' min-date='minDate'>
    <div class='input-group-btn'>
      <button class='btn btn-default' ng-click='open($event)'>Calendar</button>
    </div>
  </div>
  <timepicker ng-model='time'></timepicker>
  <button class='btn btn-default pull-right' ng-disabled='!date' ng-click='tweet()'>tweet</button>
</div>
