<div ng-controller="splashCtlr">
  <button class="btn btn-default pull-right" ng-click="open()">About Jessica</button>

  <script type="text/ng-template" id="modalInfo.html">
    <div id='modalContent'>
      <div class='row'>
        <div class='col-xs-7 col-xs-offset-1 meet'>
          <h2>MEET THE MAKER!</h2>
          <p>Jessica is a Full-Stack JavaScript Developer<br />
            with a special interest in frontend and UX! </p>
          <p>
        </div>
        <div class='col-xs-3'>
          <img src='img/stickMe.png' class='stickMe'></img>
        </div>
      </div>
      <a href='https://www.linkedin.com/in/sarahjessica' target='_blank' class='socialLinkContact'>
        linkedin.com/in/sarahjessica
      </a><br />
      <a href='https://www.github.com/sarahjessica' target='_blank' class='socialLinkContact'>
        github.com/SarahJessica
      </a><br />
      <a href='https://www.twitter.com/sarahjessica1' target='_blank' class='socialLinkContact'>
        @sarahjessica1
      </a><br />
      <a href='http://sarahjessica.london/' class='socialLinkContact'>
        sarahjessica.london
      </a>
      </p>
      <div>
        <h3>MADE WITH LOVING JS FRAMEWORKS</h3>
        <div class='row'>
          <div class='col-xs-4'>
            <img src='img/mongo.png' class='splashImg mongo'></img>
          </div>
          <div class='col-xs-4'>
            <img src='img/angular.png' class='splashImg'></img>
          </div>
          <div class='col-xs-4'>
            <img src='img/sails.png' class='splashImg sails'></img>
          </div>
        </div>
      </div>
    </div>
  </script>
</div>

<!--
//   <script type="text/ng-template" id="myModalContent.html">
//         <div class="modal-header">
//             <h3 class="modal-title">I am a modal!</h3>
//         </div>
//         <div class="modal-body">
//             <p>I am the modal body</p>
//         </div>
//         <div class="modal-footer">
//             <button class="btn btn-primary" ng-click="ok()">OK</button>
//             <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
//         </div>
//     </script>
//
//
// </div>

  <!-- <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default" ng-click="open()">Open me!</button>
    <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->
